.result_header{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:#fff;;
}

.result_header_middle{
    height: 47px;
    padding: 0px 10px;
    min-width: 300px;
    border: 2px solid #dfe1e5;;
    border-radius: 27px;
    flex: 0.7;
    display: flex;
    align-items: center;
    font-weight: 800;
}
.result_header_middle:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);

}
.result_header_middle>input{
    display: inline-block;
    width: 80%;
    height: inherit;
    outline-width:none;
    outline-style: none;
    background-color: inherit;
    border: none;
    flex: 1;
}

.result_header_icons{
    display: flex;
    font-size: small;
}
.result_header_icons_close_border{
    border-right: 1.3px solid #dfe1e5;
    color: rgb(75, 152, 253);
}

.result_header_google_logo{
    margin: 0px 20px;
}
.result_header_google_logo >img{

    object-fit: contain;
    height: 30px;
}
.result_header_icons>.MuiSvgIcon-root{
    padding: 5px 10px;
}
.result_header_right{
    display: flex;
    align-items: center;
    margin-right: 14px;
}
.result_header_right>.MuiSvgIcon-root{
    padding: 2px 20px;
}